* {
  box-sizing: border-box;
}

body {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

nav {
  flex: none;
}

main {
  height: 100%;
  overflow-y: auto;
  flex: 1;
  position: absolute;
}

footer {
  flex: none;
  width: 100%;
  margin: 0;
  padding: 20px;
  font-size: small;
  background-color: whitesmoke;
  position: fixed;
  bottom: 0px;
}

.displayExploreButtons {
  display: none;
  margin-top: 60px;
  margin-bottom: 60px;
}

.displayText {
  display: none;
}

.btn {
  color: white;
  background-color: #006747;
}

.colorpicker-element .input-group-addon i {
  height: 40px;
  width: 40px;
}

.input-lg {
  max-width: 400px;
}

input{
  margin-bottom: 10px;
}

.form-check-input {
  margin-left: 1.25rem;
}

#snakes-square {
  border: solid 1px #000000;
}

#snakes-quilt {
  border: solid 1px #000000;
}

#quarter-circle-square {
  border: solid 1px #000000;
}

#quarter-circle-quilt {
  border: solid 1px #000000;
}